<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>listado de Clientes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
           <a th:href="@{/cliente/form}">Agregar Cliente</a>
           <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Fecha de ingreso</th>
                    </tr>
                </thead>
               <tbody>
                  <tr th:each="cliente : ${clientes}">
                      <td th:text="${cliente.id}"></td>
                      <td th:text="${cliente.name}"></td>
                      <td th:text="${cliente.lastName}"></td>
                      <td th:text="${cliente.email}"></td>
                      <td th:text="${cliente.createdAt}"></td>
                  </tr>
               </tbody>
           </table>
    </div>

</body>
</html>